.analytics-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 20px;
}

/* Each row */
.analytics-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

/* Each Analytics1 card */
.analytics-row > div {
  flex: 1;
}
@media (max-width: 900px) {
  .analytics-row {
    flex-wrap: wrap;
  }

  .analytics-row > div {
    flex: 0 0 48%; /* 2 per row */
  }
}

@media (max-width: 500px) {
  .analytics-row > div {
    flex: 0 0 100%; /* 1 per row */
  }
}
