.footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
  text-align: center;

  padding: 20px 16px;
  font-family: 'Roboto', sans-serif;

  border-radius: 0;

  position: relative;

  /*TOP SHADOW (no left-right) */
  box-shadow: 0 -4px 10px rgba(66, 68, 90, 0.2);
  z-index: 10;
  margin-top: auto;
}

/* ===== FOOTER TOP ===== */
.footer-top {
  margin-bottom: 16px;
}

.footer-links a {
  margin: 0 14px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease;
}

/* ===== FOOTER MIDDLE ===== */
.footer-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  transition: transform 0.3s ease;
}
.footer-img1 {
   width: 20px;
  height: 20px;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.footer-img:hover {
  transform: scale(1.1);
}

/* ===== FOOTER BOTTOM ===== */
.footer-bottom {
  border-top: 1px solid #eaeaea;
  padding-top: 16px;
}

.footer-bottom p:first-child {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
}

.footer-bottom p:last-child {
  font-size: 13px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .footer {
    padding: 16px 12px;
  }

  .footer-links a {
    margin: 0 8px;
    font-size: 13px;
  }

  .footer-bottom p:first-child {
    font-size: 16px;
  }
}
