.dashboard {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
  align-items: stretch; 
}


@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}
