/* Full screen background */
.nf-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, lch(90.62% 2.04 230.26), hsl(195, 24%, 93%));
}

/* Center card */
.nf-card {
  background: #f7fcff;
  padding: 40px 36px;
  border-radius: 18px;
  text-align: center;
  width: 320px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* 404 text */
.nf-code {
  font-size: 64px;
  color: oklab(69.781% -0.04431 -0.02045);
  margin: 0;
  font-weight: 700;
}

/* Title */
.nf-title {
  margin: 10px 0 8px;
  font-size: 18px;
  font-weight: 600;
}

/* Description */
.nf-text {
  font-size: 14px;
  margin-bottom: 22px;
}

/* Go Home Button */
.nf-btn {
  background:oklab(69.781% -0.04431 -0.02045);
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.nf-btn:hover {
  background:oklab(69.781% -0.04431 -0.02045);
  transform: translateY(-2px);
}
