.navbar {
  width: 100%;
  background: white;
  padding: 20px 20px;   
  text-align: center;
  margin-top: 0;  

}

.headline {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;       
  margin-bottom: 10px;
}

.search-box {
  margin-top: 16px;    
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 400px;
  padding: 12px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #007c97;
}

.search-box button {
  padding: 12px 25px;
  background: oklab(69.781% -0.04431 -0.02045);
  border: none;
  color: white;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  font-weight: 600;
}
@media (max-width: 600px) {
  .search-box input {
    width: 230px;
  }
}  